@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Party!</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div>
        <div class="text-center m-2">
            <h3> We're going to have an exciting party!</h3>
            <h4>And YOU are invited!</h4>
            <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
        </div>
        @*asp-action="": chỉ định tên của action method trong một controller mà route sẽ chuyển hướng đến
        khi người dùng thực hiện một hành động cụ thể. *@
    </div>
</body>
</html>