@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Party!</title>
</head>
<body>
    <div>
        <div>
            We're going to have an exciting party.<br />
            (To do: sell it better. Add pictures or something.)
        </div>
        @*asp-action="": chỉ định tên của action method trong một controller mà route sẽ chuyển hướng đến
        khi người dùng thực hiện một hành động cụ thể. *@
        <a asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>